.box-logo {
  height: 66px;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow--default);
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 16px;
  cursor: pointer;
}

.hidden-box-logo {
  display: none;
}

@media (min-width: 768px) {
  .hidden-box-logo {
    display: grid;
  }
}
