.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  align-items: flex-start;
}

.card-frame {
  height: 312px;
  object-fit: contain;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  margin-top: 30px;
}

.card-title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2lg);
}

.card-description {
  margin-top: 20px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray);
  line-height: var(--line-height-3sm);
}

@media (min-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 90px;
  }

  .card-reverse {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .card-content-reverse {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .card-frame {
    min-width: 335px;
    height: 404px;
  }

  .card-content {
    text-align: left;
    margin-top: 10px;
    width: 100%;
  }

  .card-title {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-xl);
  }
}

@media (min-width: 1440px) {
  .card {
    gap: 0 120px;
  }

  .card-frame {
    width: 504px;
    height: 480px;
  }

  .card-title {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-3xl);
  }

  .card-description {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-md);
    margin-top: 40px;
  }
}
