.category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.category-title {
  font-size: var(--font-size-3sm);
  font-family: ManropeExtraBold, sans-serif;
  color: var(--color-black);
}

.category-description {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-defaut);
  line-height: var(--line-height-2sm);
  margin-top: 10px;
}

.category-frame {
  position: relative;
  margin-top: 10px;
  width: 76px;
  height: 76px;
}

.circle-icon {
  height: 45px;
  width: 45px;
  background-color: var(--color-pink);
  border-radius: 50%;
  position: absolute;
  right: calc(50% - 38px);
  top: 0;
  z-index: -1;
}
