.input-group {
  background: var(--color-primary);
  border-radius: var(--border-radius-default);
  width: 293px;
  display: flex;
  padding: 5px 5px 5px 20px;
}

.input-field {
  width: 100%;
  box-sizing: border-box;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .input-group {
    width: 400px;
  }
}

@media (min-width: 1440px) {
  .input-group {
    width: 500px;
  }
}
