.text-title {
  font-size: var(--font-size-3sm);
  font-family: ManropeExtraBold, sans-serif;
}

.text-sub-title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-defaut);
  line-height: var(--line-height-2sm);
}
