.banner {
  background: radial-gradient(
      111.67% 156.26% at 141.47% 78.12%,
      #fff,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../assets/images/banner-mobile-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner-title {
  font-family: ManropeExtraBold, sans-serif;
  margin-top: 137px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-extra-bold);
}

.banner-description {
  margin-top: 30px;
  font-size: var(--font-size-3xs);
}

.input-form::placeholder {
  font-size: var(--font-size-2xs);
}

.input-subscribe {
  margin-top: 43px;
  margin-bottom: 84px;
}

.banner-form {
  margin-bottom: 35px;
}

/* tablet */
@media (min-width: 768px) {
  .banner {
    background: url("../../assets/images/banner-tablet-image.webp") no-repeat;
    background-size: cover;
    padding: 0 80px;
  }

  .banner-content {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  .banner-title {
    margin-top: 161px;
    font-size: var(--font-size-2xl);
    white-space: pre-line;
    line-height: var(--line-height-3xl);
  }

  .banner-description {
    margin-top: 20px;
    white-space: pre-line;
    font-size: var(--font-size-xs);
  }

  .banner-form {
    margin-top: 20px;
  }
}

@media (min-width: 1440px) {
  .banner {
    background: url("../../assets/images/banner-image.webp") no-repeat;
    background-size: cover;
    padding: 0 120px;
  }

  .banner-title {
    margin-top: 218px;
  }

  .banner-title {
    margin-top: 200px;
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-4xl);
  }

  .banner-description {
    font-size: var(--font-size-2sm);
    line-height: var(--line-height-2md);
  }

  .banner-form {
    margin-bottom: 12px;
  }
}
