.contact {
  padding: 90px 15px;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  text-align: center;
}

.contact-frame {
  height: 90px;
}

.contact-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-title {
  margin-top: 20px;
  font-family: ManropeExtraBold, sans-serif;
  font-size: var(--font-size-md);
  color: var(--color-black);
  line-height: var(--line-height-md);
}

.contact-description {
  margin-top: 12px;
  font-weight: var(--font-weight-xs);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-sm);
  color: var(--color-black);
}

.btn-contact {
  width: fit-content;
  margin: 31px auto;
}

@media (min-width: 768px) {
  .contact-frame {
    height: 120px;
  }

  .contact-title {
    margin-top: 10px;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }

  .contact-description {
    margin-top: 20px;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-md);
  }
}
