.reference-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 63px auto 0;
  max-width: 207px;
  gap: 24px;
}

.reference {
  background-color: var(--color-white-gray);
  padding: 50px 15px;
}

.reference-content {
  text-align: center;
  flex-direction: column;
}

.reference-heading {
  color: var(--color-black);
  font-size: var(--font-size-md);
  line-height: var(--line-height-2lg);
  font-weight: var(--font-weight-bold);
}

.reference-description {
  margin-top: 14px;
  color: var(--color-black);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-xs);
}

.logo-image {
  margin: 0 auto;
}

.reference-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .hidden-frame {
    display: grid;
  }

  .logo-image {
    width: 100%;
  }

  .reference-list {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    max-width: 950px;
  }

  .reference-heading {
    color: var(--color-black-rock);
    font-family: ManropeExtraBold, sans-serif;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-2xl);
  }

  .reference-description {
    color: var(--color-black-rock);
    font-size: var(--font-size-sm);
  }
}
