.header-main {
  position: absolute;
  width: 100%;
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar {
  visibility: hidden;
}

.header-menu {
  background: url("../../assets/icons/navbar-icon.svg");
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.navbar-link {
  color: var(--color-black);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-4xs);
}

.navbar-link:hover {
  color: var(--color-secondary);
  transform: color 0.5s linear;
}

@media (min-width: 768px) {
  .header-main {
    top: 35px;
  }

  .header-content {
    gap: 20px;
    padding-right: 50px;
  }

  .header-menu {
    visibility: hidden;
  }

  .navbar {
    visibility: initial;
  }

  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35px;
  }

  .header-content {
    padding-right: 140px;
    max-width: 1440px;
    width: 100%;
  }
}
