body,
button,
input,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Manrope, sans-serif;
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
